html, body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    background: #202020;
    color: #e0e0e0;
    display: flex;
    flex-direction: row;
}

.body_container {
    background: #202020;
    box-sizing: border-box;
}

#editor_container {
    width: 50%;
    height: 100%;
    background: #101010;
}

#editor {
    width: 100%;
    height: 100%;
    background: #101010;
    font-family: monospace;
    color: #e0e0e0;
    padding: 1rem;
    box-sizing: border-box;
}

#right_panel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #202020;
}

#tab_bar {
    display: flex;
    background: #303030;
    border-bottom: 1px solid #444;
}

.tab_button {
    flex: 1;
    padding: 0.25rem;
    background: #303030;
    color: #e0e0e0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    max-width: 6rem;
}

.tab_button.active {
    background: #404040;
}

.tab_content {
    display: none;
    padding: 1rem;
    overflow-y: auto;
    flex: 1;
}

.tab_content.active {
    display: block;
}

.rename_container {
    display: none;
    margin-top: 0.5rem;
}

.rename_container.visible {
    display: block;
}

#result_tab {
    display: grid;
    gap: 1rem;
}

input, select, button {
    background: #303030;
    color: #e0e0e0;
    outline: inset 1px solid #444;
    padding: 0.5rem;
}

select {
    max-width: 10rem;
}
